
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using E_Learning.Models
@model StatisticValidation

<script src="~/Content/assets/Highcharts/highcharts.js"></script>
<script src="~/Content/assets/Highcharts/accessibility.js"></script>
<script src="~/Content/assets/Highcharts/data.js"></script>
<script src="~/Content/assets/Highcharts/drilldown.js"></script>
@*<script src="~/Content/assets/Highcharts/exporting.js"></script>*@
@*<script src="https://code.highcharts.com/modules/export-data.js"></script>*@

@*<style>
        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 320px;
            max-width: 660px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>*@

<style>
    .row-border::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
        display: block;
        height: 0;
        border-top: 1px solid rgba(24, 28, 33, 0.13);
    }

    .row-border::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        display: block;
        width: 0;
        border-left: 1px solid rgba(24, 28, 33, 0.13);
    }
</style>
<div class="app-main__outer">
    <div class="h-100">

        @*<div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-id icon-gradient bg-grow-early">
                            </i>
                        </div>
                        <div>
                            Thống kê
                            <div class="page-title-subheading">
                            </div>
                        </div>
                    </div>

                </div>
            </div>*@

        <div class="card mb-4">
            <div class="card-body d-flex" style="background-color: #e5e8e9;min-height:900px">
               <div class="col w-50">
                   <div class="row h-50 w-100" >
                       <div class="row h-25 w-100 mx-md-n5">
                           <div class="col  mx-md-5"><div class="p-3 border bg-light">Custom column padding</div></div>
                           <div class="col   px-md-5"><div class="p-3 border bg-light">Custom column padding</div></div>
                           <div class="col px-md-5"><div class="p-3 border bg-light">Custom column padding</div></div>
                       </div>
                       <div class="row h-50 bg-grow-early w-100"></div>
                       <div class="row h-25 bg-heavy-rain w-100"></div>
                   </div>
                   <div class="row bg-dark h-50" ></div>
               </div>
               <div class="col w-50">
                   <div class="row bg-grow-early h-50" >
                   </div>
                   <div class="row bg-happy-green h-50" ></div>
               </div>
            </div>
        </div>
    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    //chart column
    $.getJSON("/Statistic/GetNDDTBP", function (data) {

        Highcharts.chart('containerCol', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Nội dung đào tạo theo bộ phận lập yêu cầu',
                align: 'left',
                fontWeight:'bold'
            },
            xAxis: {
                categories: data.ListTenBP
            },
            credits: {
                enabled: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'NDĐT'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.color
                        ) || 'gray',
                        textOutline: 'none'
                    }
                }
            },
            legend: {
                align: 'left',
                x: 500,
                verticalAlign: 'top',
                y: 0,
                floating: true,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            series: data.ListLVDT
        });

    });



    //chart pie
    // Data retrieved from https://netmarketshare.com/
    // Radialize the colors
    Highcharts.setOptions({
        colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7
                },
                stops: [
                    [0, color],
                    [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        })
    });
    $.getJSON("/Statistic/GetLVDT", function (data) {
        var DataLVDT =[];
        for (var i = 0; i < data.length; i++) {
            var b = { name: data[i].TenLV,y:data[i].TLGiaTri };
            DataLVDT.push(b);
        }
        // Build the chart
        Highcharts.chart('containerPie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Lĩnh vực đào tạo',
                align: 'left',
                fontWeight:'bold'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        connectorColor: 'silver'
                    }
                }
            },
            series: [{
                name: 'Tỉ lệ',
                data: DataLVDT
            }]
        });
    });

    $.getJSON("/Statistic/GetKQHT", function (data) {
        //chart mini
        Highcharts.chart('containerM', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Kết quả học tập',
                fontWeight:'bold'
            },
            //subtitle: {
            //    text: 'Source: WorldClimate.com'
            //},
            xAxis: {
                categories: [
                    'Tham gia',
                    'Hoàn thành',
                    'Không tham gia',
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Lượt tham gia'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} lượt</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }

            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Số lượng',
                data: data

            }]
        });
    });


    $.getJSON("/Statistic/GetKQDT", function (data) {
        var DataDat = []; DataKDat=[];
        for (var i = 0; i < data.ListKQD.length; i++) {
            var b = [data.ListKQD[i].name, data.ListKQD[i].data];
            DataDat.push(b);
        }
        for (var i = 0; i < data.ListKQKD.length; i++) {
            var b = [data.ListKQKD[i].name, data.ListKQKD[i].data];
            DataKDat.push(b);
        }
        // Create the chart
        Highcharts.chart('containerN', {
            chart: {
                type: 'column'
            },
            title: {
                align: 'left',
                text: 'Kết quả đào tạo'
            },
            subtitle: {
                align: 'left',
                text: ''
            },
            credits: {
                enabled: false
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            colors: ['#1aadce', '#910000'],
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Lượt đào tạo'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> lượt<br/>'
            },

            series: [
                {
                    name: 'Kết quả',
                    colorByPoint: true,
                    data: [
                        {
                            name: 'Đạt',
                            y: data.Dat,
                            drilldown: 'Đạt'
                        },
                        {
                            name: 'Không đạt',
                            y: data.KhongDat,
                            drilldown: 'Không đạt'
                        },
                    ]
                }
            ],
            drilldown: {
                breadcrumbs: {
                    position: {
                        align: 'right'
                    }
                },
                series: [
                    {
                        name: 'Đạt',
                        id: 'Đạt',
                        data: DataDat
                    },
                    {
                        name: 'Không đạt',
                        id: 'Không đạt',
                        data: DataKDat
                    },
                ]
            }
        });
    });



</script>

<style>
    .chosen-container-single .chosen-single {
        color: #495057;
        background: #fff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-transform: capitalize;
    }

        .chosen-container-single .chosen-single span {
            text-transform: capitalize !important;
            font-size: 16px !important;
        }
</style>

