@model PagedList.IPagedList<E_Learning.Models.NhanVien>
@using PagedList.Mvc;
<div id="ajaxContent">
    <table class="table table-bordered">
        <tr>
            <th>STT</th>
            <th>Tên Lĩnh Vực</th>
            <th>Phòng Ban xử lý</th>
            <th>Chức vụ xử lý</th>
            <th>Người phân công xử lý</th>
            <th>Thao tác</th>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                @*<td>@emp.ID</td>
                <td>@emp.HoTen</td>
                <td>@emp.MaNV</td>*@
            </tr>
        }
    </table>
</div>


<!-- Paging -->
<div class="pager" id="ajaxPager">
    @Html.PagedListPager(Model, page => Url.Action("LoadData", new { page }),
    new PagedListRenderOptions
    {
        Display = PagedListDisplayMode.IfNeeded,
        MaximumPageNumbersToDisplay = 5,
        DisplayPageCountAndCurrentLocation = false,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },
        //PageClasses = new[] { "page-link" }
    })
</div>